
.body-form {
    background-color: #c67605;
    width: 100%;
    border-radius: 7px;
    padding: 5px;
    box-shadow: #f8a221 0px 0px 15px 10px;

}

.body-text {
    background-color: #1a1a1a;
    height: 470px;
    color: white;
    border-radius: 7px;
    overflow: auto;
}

.body-button {
    background-color: #c67605;
    border-radius: 7px;
    width: 100%;
    padding: 5px;
    box-shadow: #f8a221 0px 0px 15px 10px;
}

.body-button-text {
    color: white;
    background-color: #1a1a1a;
    border-radius: 7px;
    height: 100px;
    text-align: left;
    padding: 5px;

}

.chat-container {
    width: 500px;
    margin: 0 auto; /* Центрирует блок по горизонтали */
    padding: 10px;
}

.message-text {
    background-color: #ffffff;
    color: #1a1a1a;
    border-radius: 7px;
    padding: 5px;
    opacity: 60%;
}

.message-user {
    margin-bottom: 10px;
    font-weight: bold;
    text-shadow: #1a1a1a 3px 3px 5px;
}

.message-time {
    color: #ffffff;
    font-size: 0.6em;

}

.btn-chat {
    background-color: #c67605;
    border-radius: 7px;
    width: 100%;
    padding: 5px;
    box-shadow: #f8a221 0px 0px 15px 10px;
    font-style: oblique;
}

.btn-chat:hover {
    cursor: pointer;
    background-color: #f8a221;
    color: #1a1a1a;
}

.textarea-send {
    background-color: transparent;
    border-color: #1a1a1a;
    width: 98%;
    height: 75px;
    color: white;
    resize: none;
}

.textarea-chat {
    background-color: transparent;
    border-color: #1a1a1a;
    width: 98%;
    height: 470px;
    color: white;
    resize: none;
}

.text-my {
    background-color: #020269;
    margin: 7px;
    padding: 5px;
    border-radius: 7px;
    text-align: right;
    box-shadow: #0a53be 0px 0px 10px 5px;
}

.text-other {
    background-color: #c69500;
    margin: 7px;
    padding: 5px;
    border-radius: 7px;
    text-align: left;
    box-shadow: #C6E746 0px 0px 10px 5px;
}